/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 60px;
  font-weight: bold;
  color: #3c86f4;
  margin-bottom: 30px;
  font-family: "Pangolin", cursive;
  /* font-family: "Press Start 2P", cursive; */
  /* font-family: "Roboto", sans-serif; */
}

.logo > span {
  color: #0569c5;
}

/* Estilos do cabeçalho */
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c86f4;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.panel-header .logo {
  font-size: 36px;
  font-weight: bold;
  margin-right: 30px;
}

.panel-header .main-nav ul {
  list-style: none;
  display: flex;
}

.panel-header .main-nav li {
  margin-left: 30px;
}

.panel-header .main-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.panel-header .main-nav a:hover {
  text-decoration: underline;
}
