/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
}

.logo {
  font-weight: bold;
  color: #ffffff;
  font-family: "Pangolin", cursive;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos do cabeçalho */
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c86f4;
  padding: 20px;
  border-radius: 10px;
  color: #fff;

  & .logo {
    font-size: 36px;
    font-weight: bold;
    margin-right: 30px;
  }

  & .main-nav {
    & ul {
      list-style: none;
      display: flex;
    }

    & li {
      margin-left: 30px;
    }

    & a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
    }

    & a:hover {
      text-decoration: underline;
    }
  }
}

.sprints-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 40px;
}

h2.title {
  margin-top: 20px;
}

.cards-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 40px;
}

.sprint-link {
  text-decoration: none;
}

.sprint {
  background-color: #95bfff;
  padding: 50px;
  width: 100%;
  height: auto;

  font: 20px "Pangolin", cursive;
  color: white;
  text-align: center;

  border-radius: 10px;
}

.add-project-button {
  display: none;
}

.create-sprint-button {
  background-color: #bfc4cb;
  padding: 50px;
  width: 100%;
  height: auto;

  font: 20px "Pangolin", cursive;
  color: black;
  text-align: center;

  border-radius: 10px;
  border: none;

  cursor: pointer;
}

.last-accessed-sprint {
  background-color: #3c86f4;
}

.add-project-dialog {
  width: 400px;
  min-height: 250px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  display: none;
  z-index: 999;

  & h2 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  & .add-project-dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  & .add-project-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .add-project-dialog-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin-bottom: 10px;
  }

  & .add-project-dialog-footer {
    display: flex;
    justify-content: flex-end;
  }

  & .close-add-project-dialog {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  & .add-project-button {
    background-color: #3c86f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }

  & input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  & input:focus {
    outline: none;
    border-color: #3c86f4;
  }
}

.submit {
  background-color: #3c86f4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
