/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
}

.logo {
  font-weight: bold;
  color: #ffffff;
  font-family: "Pangolin", cursive;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos do cabeçalho */
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c86f4;
  padding: 20px;
  border-radius: 10px;
  color: #fff;

  & .logo {
    font-size: 36px;
    font-weight: bold;
    margin-right: 30px;
  }

  & .main-nav {
    & ul {
      list-style: none;
      display: flex;
    }

    & li {
      margin-left: 30px;
    }

    & a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
    }

    & a:hover {
      text-decoration: underline;
    }
  }
}

h2.title {
  margin-top: 20px;
}

/* Estilos da tabela de Statistics */
.statistics-table {
  margin-top: 40px;
  text-align: center;
}

.statistics-table h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

thead th {
  background-color: #3c86f4;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

h2 {
  font-family: "Pangolin", cursive;
}
